{% extends 'main_app/base.html' %}

{% block title %}Редактировать кредит{% endblock %}

{% block content %}
<h1 class="text-center">Редактирование данных кредита</h1>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="account_number">Номер счета:</label>
        <input type="text" id="account_number" name="account_number" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="debt">Новый долг:</label>
        <input type="number" id="debt" name="debt" class="form-control">
    </div>
    <div class="form-group">
        <label for="status">Новый статус (активен):</label>
        <select id="status" name="status" class="form-control">
            <option value="True">Да</option>
            <option value="False">Нет</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
<a href="{% url 'worker_dashboard' %}" class="btn btn-secondary mt-3">Назад</a>
{% endblock %}
