/* Основной фон */
body {
    background: linear-gradient(120deg, #f3f4f7, #d9e2f3);
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow-x: hidden;
}

/* Логотип */
.logo-container {
    text-align: center;
    margin-top: 50px;
}

.main-logo {
    max-width: 200px;
}

/* Основной контейнер */
.text-center {
    margin-top: 20px;
    color: #333;
}

h1.display-4, .lead {
    color: #3b4a6b;
}